

<div class="mat-elevation-z8">
 <table mat-table [dataSource]="dataSource">
    
    <ng-container  matColumnDef="Check">
      <th class="flex-title" mat-header-cell *matHeaderCellDef> Check </th>
      <td class="flex" mat-cell *matCellDef="let row"><input type="checkbox" /></td>
    </ng-container>

    <ng-container matColumnDef="empId">
      <th class="flex-title" mat-header-cell *matHeaderCellDef>ID_No</th>
      <td  class="flex" mat-cell *matCellDef="let row">{{ row.empId }}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th class="flex-title" mat-header-cell *matHeaderCellDef> Company_Name </th>
      <td class="flex" mat-cell *matCellDef="let row">{{ row.Name }}</td>
    </ng-container>

    <ng-container matColumnDef="Age">
      <th class="flex-title" mat-header-cell *matHeaderCellDef> Total_Items </th>
      <td class="flex" mat-cell *matCellDef="let row">{{ row.Age }}</td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th class="flex-title" mat-header-cell *matHeaderCellDef> Amount </th>
      <td class="flex" mat-cell *matCellDef="let row">{{ row.salary }}</td>
    </ng-container>

    <ng-container matColumnDef="dept">
      <th class="flex-title" mat-header-cell *matHeaderCellDef> ItemName </th>
      <td class="flex" mat-cell *matCellDef="let row">{{ row.dept }}</td>
    </ng-container>

    <ng-container matColumnDef="DOB">
      <th class="flex-title" mat-header-cell *matHeaderCellDef>Date</th>
      <td class="flex" mat-cell *matCellDef="let row">{{ row.DOB }}</td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th class="flex-title" mat-header-cell  *matHeaderCellDef>State</th>
      <td class="flex" mat-cell *matCellDef="let row">{{ row.gender }}</td>
    </ng-container>

   

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>
          Actions
      </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu" color="secondary">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteEmp(row.empId)">
            <!-- <button mat-menu-item (click)="openDialog()"> -->
              <!-- <mat-icon>delete</mat-icon> -->
              <span>popup</span>
          </button>
          <!-- <button mat-menu-item (click)="editEmp(row)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button> -->
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,15,20]" ></mat-paginator> 
  <ng-http-loader></ng-http-loader>

</div>




